<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <td><strong><%= comment.user.name %></strong>: </td>
  <td><%= comment.body %> </td>
  <td>
    <% if can? :destroy, comment %>
      | <%= link_to 'Delete', [comment.article, comment],
                   method: :delete,
                   data: { confirm: 'Are you sure?' } %>
    <% end %>
  </td>
</table>

