# Add configuration values here, as shown below.
#
# pusher_app_id: "2954"
# pusher_key: 7381a978f7dd7f9a1117
# pusher_secret: abdc3b896a0ffb85d373
# stripe_api_key: sk_test_2J0l093xOyW72XUYJHE4Dv2r
# stripe_publishable_key: pk_test_ro9jV5SNwGb1yYlQfzG17LHK
#
# production:
#   stripe_api_key: sk_live_EeHnL644i6zo4Iyq4v1KdV9H
#   stripe_publishable_key: pk_live_9lcthxpSIHbGwmdO941O1XVU
development:
    DB_PASSWORD: 'boobooboo'
production:
    SECRET_KEY_BASE: 'd64b9654ba67390b7fbd4088a4fa5c041025b22b4dcc45c0acd930e831601ad5ef2c9970ede56b8496daaa90b5310b54b4218e487c6854683e23eaafd9b800b4'
